<form>
  <div class="form-group">
    <label for="contact-first-name">First name:</label>
    <input
      type="text"
      class="form-control"
      id="contact-first-name"
      placeholder="First name"
      #contactFirstName
    />
  </div>
  <div class="form-group">
    <label for="contact-last-name">Last name:</label>
    <input
      type="text"
      class="form-control"
      id="contact-last-name"
      placeholder="Last name"
      #contactLastName
    />
  </div>
  <div class="form-group">
    <label for="contact-nickname">Nickname:</label>
    <input
      type="text"
      class="form-control"
      id="contact-nickname"
      placeholder="Nickname"
      #contactNickname
    />
  </div>
  <div class="form-group">
    <label for="contact-address">Address:</label>
    <input
      type="text"
      class="form-control"
      id="contact-address"
      placeholder="Address"
      #contactAddress
    />
  </div>
  <div class="form-group">
    <label for="contact-email">Email:</label>
    <input
      type="email"
      class="form-control"
      id="contact-email"
      placeholder="Email"
      #contactEmail
    />
  </div>
  <div class="form-group">
    <label for="contact-phone">Phone:</label>
    <input
      type="tel"
      class="form-control"
      id="contact-phone"
      placeholder="Phone"
      #contactPhone
    />
  </div>
  <div class="form-check form-group">
    <input
      type="checkbox"
      class="form-check-input clickable"
      id="contact-favorite"
      #contactFavorite
    />
    <label class="form-check-label clickable" for="contact-favorite"
      >Favorite</label
    >
  </div>
  <div class="d-flex justify-content-between">
    <button
      type="submit"
      class="btn btn-outline-success"
      (click)="
        add(
          contactFirstName.value,
          contactLastName.value,
          contactNickname.value,
          contactAddress.value,
          contactEmail.value,
          contactPhone.value,
          contactFavorite.checked
        )
      "
    >
      Add
    </button>
    <button class="btn btn-outline-primary" (click)="goBack()">Cancel</button>
  </div>
</form>
