<nav class="nav nav-pills justify-content-around">
  <a class="btn btn-outline-primary nav-item nav-link" routerLink="/favorites"
    >Favorites</a
  >
  <a
    class="btn btn-outline-primary nav-item nav-link active"
    routerLink="/contacts"
    >Contacts</a
  >
</nav>
<div class="tableheading">
  <form>
    <div class="form-inline">
      Search:
      <input
        class="form-control ml-2"
        type="text"
        [formControl]="filter"
        placeholder="Search"
      />
    </div>
  </form>
  <a routerLink="/create">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="ionicon"
      viewBox="0 0 512 512"
    >
      <title>Add</title>
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="32"
        d="M256 112v288M400 256H112"
      />
    </svg>
  </a>
</div>
<table class="table table-hover">
  <tbody>
    <tr
      *ngFor="let contact of contacts | sortContacts"
      routerLink="/detail/{{ contact.id }}"
      class="clickable"
    >
      <td>
        <ngb-highlight
          [result]="contact.firstName"
          [term]="filter.value"
        ></ngb-highlight>
      </td>
    </tr>
  </tbody>
</table>
