<div *ngIf="contact">
  <div class="d-flex justify-content-around">
    <button class="btn btn-outline-primary" (click)="goBack()">Back</button>
    <a class="btn btn-outline-primary" routerLink="/edit/{{ contact.id }}"
      >Edit</a
    >
  </div>
  <div class="d-flex justify-content-center">
    <div class="contactInfo">
      <div class="contactInfoLine">First name: {{ contact.firstName }}</div>
      <div class="contactInfoLine">Last name: {{ contact.lastName }}</div>
      <div class="contactInfoLine">Nickname: {{ contact.nickname }}</div>
      <div class="contactInfoLine">Street: {{ contact.street }}</div>
      <div class="contactInfoLine">City: {{ contact.city }}</div>
      <div class="contactInfoLine">State: {{ contact.state }}</div>
      <div class="contactInfoLine">ZIP: {{ contact.zip }}</div>
      <div class="contactInfoLine">Email: {{ contact.email }}</div>
      <div class="contactInfoLine">
        Phone: {{ contact.phone | formatPhone }}
      </div>
      <div class="contactInfoLine">Favorite: {{ contact.favorite }}</div>
    </div>
  </div>
</div>
